div
{
    font-size: 30px;
    color: white;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 150px;
    width:98%;
}
.one
{
    width:auto;
    margin: 0px;
    height: 400px;
    background-size: cover;
}
.two
{
    color: black;
    height: 200px;
    font-size: 14px;

}
.three
{
    width:auto;
    margin: 0px;
    height: 250px;
    background-size: cover;
    font-size: 16px;
}
.four
{
    background-color: rgb(188, 181, 41);  
}
.five
{
    background-color: rgb(83, 41, 188);  
}
.six
{
    width:auto;
    margin: 0px;
    height: 700px;
    background-size: cover;
     
}
.seven
{
    background-color: rgb(41, 120, 188); 
}
.logo {
    display: flex;
    margin-left: 400px;
    margin-right: auto; 
    text-align: center; 
    position: absolute; 
    align-items: center;
}
p{
    text-align: center;
    position: relative;
    display: flex;

}

1-355696116977_VPN
1-466329771737_VPN - sygic