div
{
    font-size: 30px;
    color: white;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 150px;
    width:98%;
}
.one
{
    width:auto;
    margin: 0px;
    height: 490px;
    background-size: cover;
}
.two
{
    color: black;
    height: 200px;
    font-size: 14px;

}
.three
{
    width:auto;
    margin: 0px;
    height: 250px;
    background-size: cover;
    font-size: 16px;
}
.four
{
    color: black;  
}
.five
{
    background-color: rgb(83, 41, 188);  
}
.six
{
    width:auto;
    margin: 0px;
    height: 500px;
    background-size: cover;
     
}
.seven
{
    
}
.eight
{
    
}
.logo {
    display: flex;
    margin-left: 400px;
    margin-right: auto; 
    text-align: center; 
    position: absolute; 
    align-items: center;
}
p{
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;

}
#txtbox2 {
    font-size: 18pt;
    height: 200px;
    width : 500px;
    background: transparent;
    border-color: aliceblue;
    color: aliceblue;
}
#txtbox1 {
    font-size: 18pt;
    height: 30px;
    width : 240px;
    background: transparent;
    border-color: aliceblue;
    color: aliceblue;
}

1-355696116977_VPN
1-466329771737_VPN - sygic