p
{
    text-align: center;
}
div
{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 150px;
    width:98%;
}
.one
{
    width:auto;
    margin: 0px;
    height: 800px;
    background-size: cover;
}
.two
{
    color: black;
    height: 200px;
    font-size: 14px;

}
.three
{
    width:auto;
    margin: 0px;
    height: 250px;
    background-size: cover;
    font-size: 16px;
}
.four
{
    color: black; 
    width:auto;
    margin: 0px;
    height: 200px; 
}
.five
{
    height: 460px; 
    color: black; 
}
.six
{
    width:auto;
    margin: 0px;
    height: 600px;
    background-size: cover;
    background-image: url(./imgs/assets/backgrounds/c_image.jpg);
     
}
.seven
{
    color: black;  
}
.logo {
    align-items: center;
}

#txtbox1 {
    font-size: 18pt;
    height: 30px;
    width : 400px;
    background: transparent;
    border-color: aliceblue;
    color: aliceblue;
}
#txtbox2 {
    font-size: 18pt;
    height: 300px;
    width : 700px;
    background: transparent;
    border-color: aliceblue;
    color: aliceblue;
}

#portfolio {
    width: 180px;
    height: 150px;
  }

#container {
  text-align: center;
  align-items: center;
  align-content: center;
  width: 1000px;
  margin-left: 300px;
}
#container > div {
  width: 180px; /* Declare your value. Can be in relative units. */
  display: inline-block;
  vertical-align: top;
  height: 150px;

  /* IE fix. */
  *display: inline;
  zoom: 1;
}
#container:after {
  content: "";
  width: 100%;
  display: inline-block;
}
